* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.btn {
  border: none;
}

/* default font size jo mai * me define karunge vo sabpe default apply hoga 
rem-->iske respect me kitta hoga
em-->parent respect me kitta hoga
overide karna padega */

/* min-width, max-width, min-height, max-height */

/* flex of flexbox, flex-wrap */

/* grid grid-template-column */

/* mobile first approach */
